$mainColor: #1BB088;
$background: #F4F4F4;

body{
    background-color: $background;
    .background{
        background-color: $mainColor !important;
    }
    #logo{
        font-family: 'Roboto' !important;
        font-style: normal;
        font-weight: 300;
    }
}

.flat{
    box-shadow: none;
}