extends layout

block content
    .row
      .col.s12
        .card
          .card-image
            img(src='//i.imgur.com/GbsrT8s.png')
            span.card-title.black-text.center #{error}
          .card-content
            p=message
          .card-action
            a(href='/') Go back home
