extends layout

block content
  .container
    .row
      .col.s12
        .card
          .card-content
            span.card-title 
            .row.center
              h2(style="font-weight:100;") Welcome Back #{user.username}
          .card-action
            a(href='/user/#{user.username}') Perfil
            a(href='/signout') Logout