doctype html
html(ng-app="WebImage")
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")
    script(src="/js/app.js")
  body(ng-controller="WebImageController")
    block content